language: cpp

install:
  - chmod +x ./travis/install.sh
  - ./travis/install.sh

script:
  - chmod +x ./travis/run.sh
  - ./travis/run.sh

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-4.0
    packages:
      - libboost-all-dev
      - clang-4.0
      - g++-6

env:
  - BUILD_TYPE=Release C_COMPILER=gcc-6 CXX_COMPILER=g++-6
  - BUILD_TYPE=Debug   C_COMPILER=gcc-6 CXX_COMPILER=g++-6
  - BUILD_TYPE=Release C_COMPILER=clang-4.0 CXX_COMPILER=clang++-4.0
  - BUILD_TYPE=Debug   C_COMPILER=clang-4.0 CXX_COMPILER=clang++-4.0

#matrix:
#  include:
#    - os: osx
#      osx_image: xcode8.3
#      env: BUILD_TYPE=Release C_COMPILER=clang CXX_COMPILER=clang++
#
#    - os: osx
#      osx_image: xcode8.3
#      env: BUILD_TYPE=Debug C_COMPILER=clang CXX_COMPILER=clang++
